.ctable {
    width: 100%;
}
.purposeoffinancing {
    width: 35%;
    padding-bottom: 10px;
    padding-right: 10px;
}
.percentage {
    width: 30%;
    padding-bottom: 10px;
}

.ctable th.purposeoffinancing {
    width: 70%
}

.ctable th.percentage {
    width: 30%
}