@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
/*------
Header 
--------*/
.header {
  background-color: #3d4e7a;
  height: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 5rem;
}

h1 {
  /* font-size: 2rem !important; */
  color: #2c292b;
  /* margin-bottom: 1.5rem !important; */
}

h2 {
  font-size: 1rem;
  color: #2c292b;
}

.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}

.error{
  color: red;
  font-size: 12px;
}

.required {
  color: #B8372B;
}

.form {
  padding: 1rem;
}
.form-check-inline {
  margin-left: 1.5rem;
}

/* label {
  font-weight: 500;
  font-size: 14px;
} */

.control {
  margin-bottom: 0.5rem;
}

/* .control label {
  font-weight: 500;
  font-size: 14px;
} */

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
}

.btn-div {
  overflow: auto;
  margin-top: 1rem;
  border-top: 1px solid darkgray;
  padding-top: 10px;
}
.fright {
  float: right;
}
.button {
  cursor: pointer;
}

.binocular-icon {
  float: right;
  margin-top: 10px;
  cursor: pointer;
}

.login {
  padding: 60px 0;
}
.login form {
  margin:0 auto;
  max-width: 320px;
  border: 1px solid gray;
  padding: 15px;
  border-radius: 5%;
}

/* .circle {
  width: 25px;
  height: 25px;
  line-height: 21px;
background-color: green;
color:white;
border-radius: 50%;
border: 2px solid transparent;
cursor: pointer;
} */
.widgetIcon, .custom-icon {
  cursor: pointer;
}
.stepwrapper {
  display: flex;
  margin: 20px 20px;
  justify-content: center;
  position: sticky;
}
.stepBlock .circleWrapper {
  padding: 0 32px;
  position: relative;
}

.stepBlock span {
  /* width: 50px; */
  font-size: 12px;
}
.selected .circle {
  color: black;
  background-color: white;
  border-color: green;
}

.stepBlock:not(:last-child) .circleWrapper::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  /* background-color: green; */
  background-color: #d4d8d8;
  margin: auto;
  z-index: -1;
}
.stepBlock:not(:last-child) > .circleWrapper::after  {
  height: 3px
}

.stepBlock.selected .widgetIcon {
  border: 2px solid green;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
/* .stepBlock:not(:last-child).selected > .circleWrapper::after, .stepBlock:not(:last-child).selected ~ .stepBlock:not(:last-child) > .circleWrapper::after  {
  background-color: #d4d8d8;
}

.stepBlock:not(:last-child).selected > .circleWrapper.circle::after, .stepBlock:not(:last-child).selected ~ .stepBlock:not(:last-child) > .circleWrapper.circle::after  {
  background-color: #d4d8d8;
} */


.printBtn {
  float: right;
  width: 2em;
  height: 2em;
  cursor: pointer;
}
/* ------------------------------------------
                 PANEL
--------------------------------------------- */
.panel {
  background-color: #fff;
}
.panel-heading{
  background-color: #dcdcdc;
  width: 100%;
  /* padding: 10px 0; */
  border-bottom: 1px solid transparent;
}  
.panel-footer {
  padding: 10px 15px;
  background-color: #eaebec;
  border-top: 1px solid #d4d8d8;
}

.panel-default>.panel-heading {
  color: #000;
  background-color: #eaebec;
  border-color: #d4d8d8;
}

.panel h1.menu-title, .panel h1.main-title {
  font-size: 1.75rem;
  font-weight: 500;
  margin: 0 0 10px 0;
  padding-top: .5rem;
}
/* ------------------------------------------
                 BOX BACKGROUNDS
--------------------------------------------- */

.sub-header {
  width: 100%;
  padding: 0.5rem 1.5rem;
  background-color: #3d4e7a;
}

  /* ------------------------------------------
      BUTTONs
  --------------------------------------------- */

  .custom-button {
    background-color: #3d4e7a;
    color: #fff;
    font-weight: bold;
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: none;
    margin-bottom: 1rem;
    font-size: 18px;
    }
  .custom-button:hover {
    background-color: #00918d;
    }
  
  .custom-button-secondary {
    font-weight: bold;
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: 1px solid transparent;
    margin-bottom: 1rem;
  }

    .dropdown-menu[data-bs-popper] {
      right: 0 !important;
      left: auto !important;
  }


  .custom-container {
    margin: 0.5rem auto;
  }
  

  .icon-style {
    padding: 4px;
    cursor: pointer;
  }

  .help-icon {
    cursor: pointer;
  }
  .heading-help-icon {
    width:1rem;
  }

  span label {
    margin: 0;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }
  .center-align {
    text-align: center
  }
  .dk-blue-color {
    color: #3d4e7a;
    text-decoration: none;
    cursor: pointer;
  }
  .dk-blue-color:hover {
    color: #00918d;
  }

  table {
    width: 100%;
  }
  .admin-widget li a {
    text-decoration: none;
  }

  .date-picker-icon {
    float: right;
    margin-right: 6px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

.modal-dialog {
  max-width: 800px !important;
}

.formCheckBoxLabel {
  margin-left: 10px;
}

.widget {
  margin: 10px 5px;
}
.widget table td {
  border-bottom: 0px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc !important;
}
.pagination {
  float: right;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  color: #0d6efd;
}

.mkr-context p, .mkr-context ol{
  font-size: 0.785rem;
}